NEXT_PUBLIC_API_URL=https://bookingplatfrom-backend-gyq1rh-a97459-2-24-82-111.sslip.io/api
NEXT_PUBLIC_SOCKET_URL=https://bookingplatfrom-backend-gyq1rh-a97459-2-24-82-111.sslip.io
NEXT_PUBLIC_IMG_URL=https://res.cloudinary.com/
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
